<section class="h-screen w-scree text-center relative overflow-hidden">
    <div class="relative h-full z-10 flex flex-col">
        <header class="z-10 relative pt-40">
            <h1 class="text-white text-5xl font-medium">Experience Tesla</h1>
            <p class="text-white text-sm">Schedule a Demo Drive Today</p>
        </header>

        <div class="relative h-full flex flex-col justify-end mb-10">
            <a class="w-32 h-28 border-4 rounded-sm py-2 z-10 text-white" href="">Demo Drive</a>
        </div>

        <div class="absolute top-0 bottom-0 z-0 object-cover h-full">
            <video autoplay muted src="/public/video.webm"></video>
        </div>
    </div>

</section>
